<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>
      History
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="send()" color="primary">
        <ion-icon slot="icon-only" name="send"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item *ngFor="let record of dataLocalService.records" (click)="open(record)">
      <ion-icon slot="start" [name]="record.icon" color="primary"></ion-icon>
      <ion-label>
        <h2>{{record.text}}</h2>
        <p>{{record.created | date: 'medium'}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
